<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <p>Realiza una busqueda por:</p>
      <p>
        Total Contactos:
        <span class="text-primary">{{ contactsFiltered.length }}.</span>
      </p>
    </div>
  </div>
  <mat-divider class="custom-mat-divider"></mat-divider>
  <div class="col-md-12 pt-3 d-flex justify-content-between">
    <form [formGroup]="filterForm">
      <mat-form-field class="pe-2" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Busqueda por nombre"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="pe-2" appearance="fill">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Busqueda por telefono"
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input
          matInput
          placeholder="Busqueda por email"
          formControlName="email"
        />
      </mat-form-field>
    </form>

    <button class="btn btn-primary btn-sm add-contact-button">
      Agregar nuevo contacto
    </button>
  </div>
  <div class="col-md-12">
    <div class="d-flex flex-wrap justify-content-center card-father-div border">
      <div
        class="card card-with me-4 my-4"
        *ngFor="let contact of contactsFiltered"
      >
        <div class="card-body">
          <h5 class="card-title">{{ contact.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ contact.address }}</h6>
          <ol class="list-group list-group-numbered pb-2">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto pe-2">
                <div class="fw-bold">Correo</div>
                {{ contact.email }}
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Número de telefono</div>
                +57 {{ contact.phone }}
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Fecha de nacimiento</div>
                {{ contact.dateOfBirth }} ({{ contact.age }} años)
              </div>
            </li>
          </ol>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary me-2">Editar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
