<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <p>Realiza una busqueda por:</p>
      <p>Total Contactos: <span class="text-primary">20.</span></p>
    </div>
  </div>
  <mat-divider class="custom-mat-divider"></mat-divider>
  <div class="col-md-12 pt-3">
    <mat-form-field class="pe-2" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field class="pe-2" appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-between">
    <mat-card class="example-card me-2">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Sebastián Contreras</mat-card-title>
          <mat-icon
            svgIcon="circle-xmark-solid"
            class="text-primary"
          ></mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon svgIcon="phone-solid"></mat-icon>
            <div matListItemTitle>3244692094</div>
            <div matListItemLine>Colombia</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon svgIcon="cake-candles-solid"></mat-icon>
            <div matListItemTitle>07/07/2002</div>
            <div matListItemLine>Barranquilla</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon svgIcon="envelope-solid"></mat-icon>
            <div matListItemTitle>sebastiancontreras15897@gmail.com</div>
            <div matListItemLine>Correo</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
